{% extends 'base.html.twig' %}

{% block title %}Employés - Creation{% endblock %}

{% block body %}
    <h1>Nouveau employé</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retourner à la liste</a>
{% endblock %}
