{% extends 'base.html.twig' %}

{% block title %}Operation - Creation{% endblock %}

{% block body %}
    <h1>Create new Operation</h1>

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('app_operation') }}">back to list</a>
{% endblock %}
