{% extends 'base.html.twig' %}

{% block title %} Goodies{% endblock %}

{% block body %}
    <h1>Création Goodies</h1>
    <div class="card">
                                
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {{ include('goodies/_form.html.twig') }}
            </ul>
        </div>
    </div>
    <a href="{{ path('app_goodies_index') }}">Retourner à la liste</a>
{% endblock %}
